#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.sender-div {
  display: flex;
  flex-direction: column;
}

.sender-div button {
  background-color: rgb(104, 104, 255);
  color: white;
}
.sender-div button:hover {
  background-color: rgb(80, 80, 233);
}
